@import '@fontsource/poppins';

* {
	margin: 0px;
	padding: 0px;
}

:root {
	--black: rgba(0, 0, 0, 0.8);
	--white: rgba(255, 255, 255, 0.8);
	--primary: rgba(255, 0, 0, 1);
	--secondary: rgba(31, 38, 135, 0.37);
}

body {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
	background: url($lib/assets/background.png) no-repeat center center/cover;
	/* backdrop-filter: blur(10px); */
}

button {
	all: unset;
	cursor: pointer;
}
